#!/bin/bash

# More ls aliases.
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

# More ls aliases.
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# Neovim aliases
alias vi="nvim"
alias vim="nvim"
alias view="nvim -R"
alias vimdiff="nvim -d"

# Python aliases
alias python=python3

# Jump aliases
alias repos="$HOME/bin/tmux_sessionizer.sh"

# k8s aliases
alias kctx='kubectl ctx "$(kubectl ctx | fzy)"'
alias kns='kubectl ns "$(kubectl ns | fzy)"'

# open pr
alias gpr="open_pr"

# reset branch to remote
alias glf="force_pull"

# zet
alias zs="search_zet"
