#!/bin/bash

_has() {
    which $1>/dev/null 2>&1
}

search_ddg() {
    # url encoded string?
    query=`echo "$@" | sed "s/ /%20/g"`
    open "https://duckduckgo.com/?q=${query}"
}

open_pr() {
    git_repo=`git config --get remote.origin.url | cut -d "@" -f2 | sed "s/.git//g" | sed "s/:/\//g"`
    git_branch=`git branch --show-current`
    query=`echo "$@" | sed "s/ /%20/g"`
    open "https://${git_repo}/compare/${git_branch}?expand=1"
}

force_pull() {
    git_branch=`git branch --show-current`
    git fetch --all
    git reset --hard "origin/${git_branch}"
}

netshoot() {
overrides='
{
  "metadata": {
    "annotations": {
      "sidecar.istio.io/inject": "false"
    }
  }
}
'

kubectl run netshoot --rm -it \
  --image nicolaka/netshoot:latest \
  --namespace "${1:-$(kubectl config view --minify --output 'jsonpath={..namespace}'; echo)}" \
  --overrides "$overrides" \
  -- /bin/bash
}


